<div class="app-switcher" *ngIf="visible">
  <button type="button" class="app-switcher__toggle" (click)="toggle()">
    {{ 'apps.switcher.label' | translate }} <span class="app-switcher__caret">▾</span>
  </button>

  <div class="app-switcher__menu" *ngIf="open()">
    <button
      type="button"
      class="app-switcher__item"
      *ngFor="let entry of apps"
      (click)="select(entry)"
    >
      <span class="app-switcher__icon">{{ entry.icon }}</span>
      <span>{{ entry.titleKey | translate }}</span>
    </button>
  </div>
</div>
